@-webkit-keyframes start1
{
	0%
	{
		font-size : 512px ;
		left : 2048px ;
		opacity : 1.0 ;
	}
	5%
	{
		font-size : 512px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	10%
	{
		font-size : 512px ;
		left : -2048px ;
		opacity : 1.0 ;
	}
	15%
	{
		font-size : 384px ;
		left : 1024px ;
		opacity : 1.0 ;
	}
	20%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	60%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	100%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 0.25 ;
	}
}
@-moz-keyframes start1
{
	0%
	{
		font-size : 512px ;
		left : 2048px ;
		opacity : 1.0 ;
	}
	5%
	{
		font-size : 512px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	10%
	{
		font-size : 512px ;
		left : -2048px ;
		opacity : 1.0 ;
	}
	15%
	{
		font-size : 384px ;
		left : 1024px ;
		opacity : 1.0 ;
	}
	20%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	60%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	100%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 0.25 ;
	}
}
@-o-keyframes start1
{
	0%
	{
		font-size : 512px ;
		left : 2048px ;
		opacity : 1.0 ;
	}
	5%
	{
		font-size : 512px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	10%
	{
		font-size : 512px ;
		left : -2048px ;
		opacity : 1.0 ;
	}
	15%
	{
		font-size : 384px ;
		left : 1024px ;
		opacity : 1.0 ;
	}
	20%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	60%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	100%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 0.25 ;
	}
}
@keyframes start1
{
	0%
	{
		font-size : 512px ;
		left : 2048px ;
		opacity : 1.0 ;
	}
	5%
	{
		font-size : 512px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	10%
	{
		font-size : 512px ;
		left : -2048px ;
		opacity : 1.0 ;
	}
	15%
	{
		font-size : 384px ;
		left : 1024px ;
		opacity : 1.0 ;
	}
	20%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	60%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	100%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 0.25 ;
	}
}
@-webkit-keyframes start2
{
	0%
	{
		font-size : 512px ;
		left : 2048px ;
		opacity : 1.0 ;
	}
	20%
	{
		font-size : 512px ;
		left : 2048px ;
		opacity : 1.0 ;
	}
	25%
	{
		font-size : 512px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	30%
	{
		font-size : 512px ;
		left : -2048px ;
		opacity : 1.0 ;
	}
	35%
	{
		font-size : 384px ;
		left : 1024px ;
		opacity : 1.0 ;
	}
	40%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	60%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	100%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 0.25 ;
	}
}
@-moz-keyframes start2
{
	0%
	{
		font-size : 512px ;
		left : 2048px ;
		opacity : 1.0 ;
	}
	20%
	{
		font-size : 512px ;
		left : 2048px ;
		opacity : 1.0 ;
	}
	25%
	{
		font-size : 512px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	30%
	{
		font-size : 512px ;
		left : -2048px ;
		opacity : 1.0 ;
	}
	35%
	{
		font-size : 384px ;
		left : 1024px ;
		opacity : 1.0 ;
	}
	40%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	60%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	100%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 0.25 ;
	}
}
@-o-keyframes start2
{
	0%
	{
		font-size : 512px ;
		left : 2048px ;
		opacity : 1.0 ;
	}
	20%
	{
		font-size : 512px ;
		left : 2048px ;
		opacity : 1.0 ;
	}
	25%
	{
		font-size : 512px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	30%
	{
		font-size : 512px ;
		left : -2048px ;
		opacity : 1.0 ;
	}
	35%
	{
		font-size : 384px ;
		left : 1024px ;
		opacity : 1.0 ;
	}
	40%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	60%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	100%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 0.25 ;
	}
}
@keyframes start2
{
	0%
	{
		font-size : 512px ;
		left : 2048px ;
		opacity : 1.0 ;
	}
	20%
	{
		font-size : 512px ;
		left : 2048px ;
		opacity : 1.0 ;
	}
	25%
	{
		font-size : 512px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	30%
	{
		font-size : 512px ;
		left : -2048px ;
		opacity : 1.0 ;
	}
	35%
	{
		font-size : 384px ;
		left : 1024px ;
		opacity : 1.0 ;
	}
	40%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	60%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	100%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 0.25 ;
	}
}
@-webkit-keyframes start3
{
	0%
	{
		font-size : 512px ;
		left : 2048px ;
		opacity : 1.0 ;
	}
	40%
	{
		font-size : 512px ;
		left : 2048px ;
		opacity : 1.0 ;
	}
	45%
	{
		font-size : 512px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	50%
	{
		font-size : 512px ;
		left : -2048px ;
		opacity : 1.0 ;
	}
	55%
	{
		font-size : 384px ;
		left : 1024px ;
		opacity : 1.0 ;
	}
	60%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	100%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 0.25 ;
	}
}
@-moz-keyframes start3
{
	0%
	{
		font-size : 512px ;
		left : 2048px ;
		opacity : 1.0 ;
	}
	40%
	{
		font-size : 512px ;
		left : 2048px ;
		opacity : 1.0 ;
	}
	45%
	{
		font-size : 512px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	50%
	{
		font-size : 512px ;
		left : -2048px ;
		opacity : 1.0 ;
	}
	55%
	{
		font-size : 384px ;
		left : 1024px ;
		opacity : 1.0 ;
	}
	60%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	100%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 0.25 ;
	}
}
@-o-keyframes start3
{
	0%
	{
		font-size : 512px ;
		left : 2048px ;
		opacity : 1.0 ;
	}
	40%
	{
		font-size : 512px ;
		left : 2048px ;
		opacity : 1.0 ;
	}
	45%
	{
		font-size : 512px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	50%
	{
		font-size : 512px ;
		left : -2048px ;
		opacity : 1.0 ;
	}
	55%
	{
		font-size : 384px ;
		left : 1024px ;
		opacity : 1.0 ;
	}
	60%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	100%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 0.25 ;
	}
}
@keyframes start3
{
	0%
	{
		font-size : 512px ;
		left : 2048px ;
		opacity : 1.0 ;
	}
	40%
	{
		font-size : 512px ;
		left : 2048px ;
		opacity : 1.0 ;
	}
	45%
	{
		font-size : 512px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	50%
	{
		font-size : 512px ;
		left : -2048px ;
		opacity : 1.0 ;
	}
	55%
	{
		font-size : 384px ;
		left : 1024px ;
		opacity : 1.0 ;
	}
	60%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 1.0 ;
	}
	100%
	{
		font-size : 256px ;
		left : 0 ;
		opacity : 0.25 ;
	}
}
#start1{
	font-size : 256px ;
	position : relative ;
	float : left ;
	top : 0 ;
	left : 0 ;
	opacity : 0.25 ;
	-webkit-animation-name : start1 ;
	-webkit-animation-duration : 10s ;
	-webkit-animation-timing-function : ease-in-out ;
	-moz-animation-name : start1 ;
	-moz-animation-duration : 10s ;
	-moz-animation-timing-function : ease-in-out ;
	-o-animation-name : start1 ;
	-o-animation-duration : 10s ;
	-o-animation-timing-function : ease-in-out ;
	animation-name : start1 ;
	animation-duration : 10s ;
	animation-timing-function : ease-in-out ;
}
#start2{
	font-size : 256px ;
	position : relative ;
	float : none ;
	top : 0 ;
	left : 0 ;
	opacity : 0.25 ;
	-webkit-animation-name : start2 ;
	-webkit-animation-duration : 10s ;
	-webkit-animation-timing-function : ease-in-out ;
	-moz-animation-name : start2 ;
	-moz-animation-duration : 10s ;
	-moz-animation-timing-function : ease-in-out ;
	-o-animation-name : start2 ;
	-o-animation-duration : 10s ;
	-o-animation-timing-function : ease-in-out ;
	animation-name : start2 ;
	animation-duration : 10s ;
	animation-timing-function : ease-in-out ;
}
#start3{
	font-size : 256px ;
	position : relative ;
	float : none ;
	top : 0 ;
	left : 0 ;
	opacity : 0.25 ;
	-webkit-animation-name : start3 ;
	-webkit-animation-duration : 10s ;
	-webkit-animation-timing-function : ease-in-out ;
	-moz-animation-name : start3 ;
	-moz-animation-duration : 10s ;
	-moz-animation-timing-function : ease-in-out ;
	-o-animation-name : start3 ;
	-o-animation-duration : 10s ;
	-o-animation-timing-function : ease-in-out ;
	animation-name : start3 ;
	animation-duration : 10s ;
	animation-timing-function : ease-in-out ;
}
